
table {
	border-style:none;
	}
tr, td {
	border:solid 2px black;
	padding:40px;
}
#maze {
	display:block;
	max-width:500px;
}
#ball {
	display:block;
	max-height:25px;
	width:25px
	height:25px;
}
#star {
	display:block;
	max-height:25px;
	width:25px
	height:25px;
}
#controlbox {
	float:right;
}

.controls {
	display:inline-block;
	max-width:50px;
	width:50px;
}